hands-on-solutions/Section0/0.5/super-biodata-sapi/src/main/mule/super-biodata-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="super-biodata-sapi-httpListenerConfig">
		<http:listener-connection
			host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	

    <!-- REPLACE with your Anypoint platform ORGANIZATION ID -->
    <apikit:config
		name="super-biodata-sapi-config"
		api="resource::bfb5a8a4-30ed-47b8-88c8-5764a308838e:super-biodata-sapi:1.0.0:raml:zip:super-biodata-sapi.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />

        <!-- REPLACE THE API-iID -->
    <api-gateway:autodiscovery apiId="17739007" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="db392d85-313f-4bf4-9f49-f7205a987793" flowRef="super-biodata-sapi-main" />
    
	<mongo:config
		name="MongoDB_Config"
		doc:name="MongoDB Config"
		doc:id="26a5d312-d8f1-45de-95b8-d3255f9c2155">
		<mongo:connection-string-connection
			connectionString="mongodb+srv://superuser:SuperPassword@supercluster.d83jj.mongodb.net/superData?retryWrites=true&amp;w=majority" />
	</mongo:config>

    <flow name="super-biodata-sapi-main">
        <http:listener config-ref="super-biodata-sapi-httpListenerConfig" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="super-biodata-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="super-biodata-sapi-console">
        <http:listener config-ref="super-biodata-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="super-biodata-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\bio\(id):super-biodata-sapi-config">
	<logger
			level="INFO"
			doc:name="Logger"
			doc:id="5fc524fd-6dbd-46db-9e9b-25e7031f872e"
			message="#['\n********************************************\n' ++ 'Flow started with correlation id - ' ++ correlationId ++  '\n********************************************\n']" />

		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
<mongo:find-documents
						collectionName="superBio"
						fields=","
						doc:name="Find documents"
						doc:id="b190be7b-6619-40d5-b7d2-24a364a11450"
						config-ref="MongoDB_Config">
						<mongo:query><![CDATA[#[output application/json
---
{"id": vars.id}]]]></mongo:query>
					</mongo:find-documents>		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload reduce ($ ++ $$)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <logger
			level="INFO"
			doc:name="Logger"
			doc:id="7f0f13fb-6f99-47ca-9505-d703e54cea27"
			message="#['\n********************************************\n' ++ 'Flow End' ++  '\n********************************************\n']" />
    </flow>
        <flow
        name="api-liveness-flow"
        doc:id="1591cedb-e11a-4208-8da6-ccd4b7d9294e">
        <http:listener
            doc:name="Listener"
            doc:id="7e2c12c9-e3b2-4c0c-82be-27133e70fa9c"
            config-ref="super-biodata-sapi-httpListenerConfig"
            path="/live">
            <http:error-response>
                <http:body><![CDATA[DEAD]]></http:body>
            </http:error-response>
        </http:listener>
        <set-payload
            value="LIVE"
            doc:name="LIVE"
            doc:id="9dafd81b-551f-49d5-9cb3-581f5cbc7bce" />
    </flow>
</mule>
