hands-on-solutions/Section3/3.11/super-app-eapi/src/main/mule/super-app-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<secure-properties:config
		name="securePropertiesConfig"
		doc:name="Secure Properties Config"
		doc:id="323f8fa5-ec68-4dcf-9c11-f884ae34951b"
		file="properties-apmq-secure.yaml"
		key="${secure.key.apmq}">
		<secure-properties:encrypt
			algorithm="Rijndael"
			mode="ECB" />
	</secure-properties:config>

	<anypoint-mq:config
		name="anypointMQConfig"
		doc:name="Anypoint MQ Config"
		doc:id="39089c97-7015-4f22-964c-ed60bab0198f">
		<anypoint-mq:connection
			url="${secure::mq.url}"
			clientId="${secure::mq.client_id}"
			clientSecret="${secure::mq.client_secret}" />
	</anypoint-mq:config>
	<anypoint-mq:circuit-breaker name="apmqCircuitBreaker" tripTimeout="20" doc:name="Circuit breaker" doc:id="204c712d-cbdb-4617-bf9e-bf4915782c22" onErrorTypes="HTTP:CONNECTIVITY" errorsThreshold="5" tripTimeoutUnit="SECONDS" />
	<flow name="super-app-eapiFlow" doc:id="437b4e57-e000-4243-96eb-2814e617b6db" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="0ea7ca7d-7a07-448c-8583-47c5e2066adb" config-ref="anypointMQConfig" destination="${secure::mq.destination}" acknowledgementMode="MANUAL" acknowledgementTimeout="10" acknowledgementTimeoutUnit="SECONDS" circuitBreaker="apmqCircuitBreaker"/>
		<ee:transform doc:name="Transform Message" doc:id="daf528b9-fc63-4925-ab69-9587715ba133" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.bid,
	num: payload.mobile
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[attributes.ackToken]" doc:name="ackToken" doc:id="592b4aad-1c38-4c02-8f66-15fc47a8ec9b" variableName="ackToken"/>
		<http:request method="POST" doc:name="HTTPBin Service" doc:id="f7672f75-0de9-415e-9a20-4547c789ae87" url="https://httpbin-MAGIC.org/post"/>
		<logger level="INFO" doc:name="payload" doc:id="5e6ad917-d6cf-4ace-9033-b3821539291f" message="#[payload]" />
		<anypoint-mq:ack doc:name="Ack" doc:id="4832456c-e990-4ab8-b620-d0a38aee41ce" config-ref="anypointMQConfig" ackToken="#[vars.ackToken]"/>
		<error-handler >
			<on-error-propagate enableNotifications="false" logException="false" doc:name="On Error Propagate" doc:id="c9d2ff8c-6901-433b-95e0-209f8c144130" type="HTTP:NOT_FOUND">
				<logger level="INFO" doc:name="Logger" doc:id="24814ee4-1014-4496-845b-db72a57876fd" message="HTTP NOT FOUND - Message is Acknowledged"/>
				<anypoint-mq:ack doc:name="Ack" doc:id="0286e5a4-5214-4da9-8ca7-387b2ae10db1" config-ref="anypointMQConfig" ackToken="#[vars.ackToken]"/>
			</on-error-propagate>
			<on-error-propagate enableNotifications="false" logException="false" doc:name="On Error Propagate" doc:id="49e33b72-86df-466d-8fc0-28851b5c7719" type="HTTP:CONNECTIVITY">
				<logger level="INFO" doc:name="Logger" doc:id="a0104179-1314-4957-9159-0a2c1c8ceefa" message="HTTP CONNECTIVITY - Message is NOT Acknowledged"/>
				<anypoint-mq:nack doc:name="Nack" doc:id="bf3efe1b-f211-4df0-a2a5-3fdf60b4bfbd" config-ref="anypointMQConfig" ackToken="#[vars.ackToken]"/>
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
