hands-on-solutions/Section3/3.7/super-tickets-papi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	
	<flow name="api-main">
		<http:listener
			config-ref="apiHttpListenerConfig"
			path="/api/${api.majorVersion}/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="apiConfig" />
		<error-handler ref="api-error-handler" />
	</flow>
	<flow name="api-console">
		<http:listener
			config-ref="apiHttpListenerConfig"
			path="/console/${api.majorVersion}/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="apiConfig" />
		<error-handler ref="api-console-error-handler" />
	</flow>
	<flow name="get:\tickets\(BID):apiConfig">
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="BID"><![CDATA[attributes.uriParams.'BID']]></ee:set-variable>
				<ee:set-variable variableName="CID" ><![CDATA[attributes.queryParams.'CID']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-tickets-data-by-bid" doc:id="78278adb-a3dc-4ddf-99ee-7407b68bcebd" name="get-tickets-data-by-bid" />
		<logger
			level="INFO"
			doc:name="Logger"
			doc:id="38ccb500-4a2f-419f-b7f4-a2452674f1aa"
			message="Flow End" />
	</flow>
</mule>
